<ion-header>
  <ion-toolbar>
    <ion-title>novoCarro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <form [formGroup]="carrosForm" (submit)="registraCarro()">
    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-input formControlName="nome" placeholder="Nome do Carro" autofocus="true"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="car" slot="start"></ion-icon>
      <ion-input formControlName="marca" placeholder="Marca"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descrição"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-input formControlName="quilometragem" placeholder="Quilometragem"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="wallet" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>

    <!-- <ion-button expand="full">
      <ion-icon lazy="true" slot="start" name="image"></ion-icon>
      <ion-label slot="end">Upload Image</ion-label>
      <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
        accept="image/png, image/jpeg">
    </ion-button>
     -->
    
    <ion-item lines="none">
      <input type="file" name="inputFile" (change)="chooseFile($event)" required>
    </ion-item>

    <ion-button [disabled]="carrosForm.invalid || criando" type="submit" expand="block" fill="outline">Enviar</ion-button>
  </form>

</ion-content>